$primary-color: #F53855;
$secondary-color: #4F5665;
$third-color: #0B132A;
$light-color: #fff;
$body-color: #FBFBFB;
$wrapper-full: 1440px;
$wrapper-container: 1140px;
$primary-font:  'Rubik', sans-serif;
